* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: #24272F;
    font-family: 'Fugaz One', cursive;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #AFC7FF;
    font-size: 82px;
    padding-top: 10px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.options {
    color: #F4F4F4;
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 30px 0;
    margin-bottom: -30px;
    cursor: default;
}

.break,
.session {
    width: 210px;
    display: inline-block;
}

.length,
.minus,
.plus {
    display: inline-block;
    font-size: 26px;
}

.length {
    width: 50px;
}

.minus,
.plus {
    cursor: pointer;
    width: 40px;
    height: auto;
}

.minus:hover {
    color: #AC0808;
}

.plus:hover {
    color: #068906;
}

.clock-container {
    width: 360px;
    height: 360px;
    background: #24272F;
    position: relative;
    border: 5px solid #24272F;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 30px;
    color: #F4F4F4;
    text-align: center;
}

.clock-container-before {
    width: 366px;
    height: 366px;
    content: '';
    background: transparent;
    border: 3px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.clock {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.clock p {
    padding: 40px 0;
}

.extras {
    width: 140px;
    margin: 0 auto;
    cursor: default;
}

.sound-option,
.info {
    display: inline-block;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.sound-option {
    margin-right: 30px;
}

.sound-off {
    display: none;
}

.info a {
    color: #FFF;
}

.action {
    text-align: center;
}

.action div {
    min-width: 90px;
    min-height: 70px;
    display: inline-block;
    cursor: default;
}

.start {
    color: #068906;
    cursor: pointer;
}

.pause {
    color: #ACAC08;
    display: none;
    cursor: pointer;
}

.reset {
    color: #AC0808;
    cursor: pointer;
}


/*--- Footer ---*/

#footer {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}

.push {
    height: 185px;
}

.footer-container {
    background-color: transparent;
}

.footer-social-buttons {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.footer-social-buttons > li {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}

.footer-social-buttons > li > a,
.footer-social-buttons > li > a:hover,
.footer-social-buttons > li > a:focus {
    background: transparent;
    border: none;
    color: white;
}

.copyright {
    font-size: 12px;
}

@media (max-width: 700px) {
    .title {
        font-size: 60px;
    }
    #footer {
        padding: 0;
    }
    .footer-social-buttons > li,
    .footer-social-buttons > li > a,
    .footer-social-buttons > li > a:hover,
    .footer-social-buttons > li > a:focus,
    .footer-social-buttons > li > a > p {
        padding: 2px;
    }
}

@media (max-width: 415px) {
    .clock-container {
        width: 330px;
        height: 330px;
    }
    .clock-container-before {
        width: 336px;
        height: 336px;
    }
}

@media (max-width: 375px) {
    .clock-container {
        width: 275px;
        height: 275px;
    }
    .clock-container-before {
        width: 281px;
        height: 281px;
    }
    .clock p {
        padding: 20px 0;
    }
}
